/* color palette from coolors
1: #c4bbaf
2: #a5978b
3: #5c4742
4: #8d5b4c
5: #5a2a27
*/

html, body {
  
}

.char-bio{
  background-color: #8d5b4c;
}

.session{
  background-color: #5c4742;
}

.bio{
  padding: 30px;
}

.bio .form-group{
  padding-bottom: 15px;
  color: #c4bbaf;
}

.bio label{
  display: block;
  padding-bottom: 10px;
}

.bio input[type="text"]{
  border:none;
  background-color: #c4bbaf;
  color: #5a2a27;;
  padding: 8px;
  width: 100%;
}
.bio input[type="text"]:focus{
  background-color: #a5978b;
  outline-color: #c4bbaf;

}
.bio input[type="submit"]{
  background-color: #5a2a27;
  color: #c4bbaf;
  padding: 10px 20px;
  border:none;
  border-radius: 8px;
}

.bio input[type="submit"]:hover{
  background-color: #c4bbaf;
  color: #5a2a27;
}